## Get the data

In [7]:
import utils

URL_DATA = 'https://raw.githubusercontent.com/4GeeksAcademy/linear-regression-project-tutorial/main/medical_insurance_cost.csv'
ROUTE_DATA='../data/raw'

utils.descargar_archivo(URL_DATA, ROUTE_DATA)

El archivo medical_insurance_cost.csv ya existe en la carpeta local.

In [8]:
#Importamos y guardamos el dataframe

import pandas as pd

RUTA_DATAFRAME = '/home/tr4shhh/Proyects/4geeks/14-Linear_Regression/linear-regression/data/raw/medical_insurance_cost.csv'

df = pd.read_csv(RUTA_DATAFRAME, sep=',')

In [9]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

Files saved to /data/raw

In [10]:
#Encontrar duplicados

duplicados = df[df.duplicated(keep=False)]
duplicados

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [11]:
#Eliminar duplicados

df_sin_duplicados = df.drop_duplicates(keep='first')

In [12]:
# A csv

df_sin_duplicados.to_csv('../data/interim/medical_without_duplicates.csv', index=False)

I have deleted a row as a duplicate